ErrorDocument 400 /400.php
ErrorDocument 401 /401.php
ErrorDocument 403 http://localhost/loan-management/error-pages/403-error.php
ErrorDocument 404 http://localhost/loan-management/error-pages/404-error.php
ErrorDocument 500 /500.php
